<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ido Hai. it uses data from positionstack.com and weatherstack.com to tell the weather.</p>
        <img src="/img/matchmaker.webp" class="portrait">
    </div>
    {{>footer}}
</body>

</html>